

span.true {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
span.false {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  width: 100px;
  background: #dfacac;
  border-radius: 15px;
}
.name {
  font-size: 30px;
  font-weight: 500;
}
